<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="scripts/login.js"></script>
    <title>Qwerty</title>
</head>

<body> 
	<form>
		<div class="imgDivider">
	    	<img src="images/image.jpg" class="loginImage">
	  	</div>
	  	<h1 id="title">Qwerty</h1>
	  	<div class="loginContainer">
		    <label><b>Username</b></label>
		    <input type="text" placeholder="Enter Username" id="inputUsername" required>

		    <label><b>Password</b></label>
		    <input type="password" placeholder="Enter Password" id="inputPassword" required>

		    <button type="submit" id="submitBtn">Login</button>
	  	</div>
	  	<div class="loginContainer" id="registerSection">
	      <button type="button" id="registerBtn">Register</button>
	    </div>
	</form>

</body>
</html>